<div class="section-password-wrapper">

<div id="left">
<div class="social">
	</div>
<div class="text">
<p>Heroines. En konceptbutik med fokus på et kurateret udvalg af cool smykker og accessories.</p>

<p>Vi slår snart dørene op til vores første butik i København K, og du er hermed inviteret.</p>
 
<p>Indtast din e-mail, så sender vi dig invitationen til vores åbningsfest d. 21.09.17. Du får også mulighed for at shoppe online hos os 24 timer før official launch!</p>
	</div>

</div>



<div id="right">
<div class="cirkel">
  <img src="https://cdn.shopify.com/s/files/1/2137/0833/files/cirkel-heroines.png?9406983821673046110" width="70" height="70" alt=""/> </div>
<h1 > Get up Sign up! </h1>


  {% unless shop.password_message == blank %}
    <p>
      {{ shop.password_message }}
    </p>
  {% endunless %}

  {%- if section.settings.show_newsletter_signup -%}
    {%- include 'newsletter' -%}
  {%- endif -%}

<h3>{{ 'password.enter_password' | t }}</h3>

  {% form 'storefront_password' %}
    {{ form.errors | default_errors }}
    <input
      type="password"
      name="password"
      placeholder="{{ 'general.form.password_placeholder' | t }}">
    <input
      type="submit"
      class="button"
      value="{{ 'general.form.submit' | t }}">
  {% endform %}


{% schema %}
{
  "name": "Password page",
  "class": "section-password",
  "settings": [
    {
      "id": "logo",
      "type": "image_picker",
      "label": "Logo image",
      "info": "400 x 200px .png recommended"
    },
    {
      "id": "show_newsletter_signup",
      "type": "checkbox",
      "label": "Show newsletter signup",
      "default": true
    }
  ]
}

{% endschema %}
  
  
</div>

</div>
