<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Coming Soon</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="author" content="Heroines">
  <meta name="description" content="Heroines is looking forward to present our new online store">


<style>
#snize-sticky-searchbox-searchbox {
	display: none;
}
html, body, .container {
/*  height: 100%;*/
}

/* Reset */
html, body, h1, p, a, div, section {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
}

/* Basic */

h1 {
  color: #000;
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  margin-top: 20px;
}

a {
  color: #000;
}

p {
  margin: 0 0 15px 0;
}

strong {
  font-weight: 700;
}


/* Staff login */
.section-password-wrapper {
    width: 90%;
	padding-left: 10px;
}	

.section-password-wrapper p {
    font-size: 9px;
    letter-spacing: 0.5px;
    margin-bottom: 0;
    text-align: left;
}		

.section-password-wrapper .storefront-password-form input:not([type="submit"]), .section-password-wrapper .storefront-password-form textarea, .section-password-wrapper .section-password input {
    -moz-appearance: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: transparent none repeat scroll 0 0;
    border-color: currentcolor currentcolor #000;
    border-image: none;
    border-radius: 0;
    border-style: none none solid;
    border-width: medium medium 1px;
    color: #000!important;
    float: left;
    font-family: "sofia-pro",sans-serif;
    height: 40px;
    margin: 0;
    padding: 0px;
    width: 75%;
}
  

  
  
.section-password-wrapper .storefront-password-form inputt::-moz-placeholder {color:#292929!important; font-size:9px!important;}
.section-password-wrapper .storefront-password-form input::-webkit-input-placeholder {color:#292929!important;font-size:9px!important;}
.section-password-wrapper .storefront-password-form input::-ms-input-placeholder {color:#292929!important;font-size:9px!important;}
.section-password-wrapper .storefront-password-form input::-moz-placeholder {color:#292929!important;font-size:9px!important;}

  
	
.section-password-wrapper .storefront-password-form .button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid;
    border-radius: 0;
    color: #000;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 2px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    float: right;
    line-height:1;
}
	
.storefront-password-form input[type="submit"] {
    height: 40px;
    min-width: 70px;}

.content .errors {
    text-align: left; font-size: 10px;
	color: red;
	margin: 10px 0;
	
}
  
  .text + .section-password-wrapper > p{
  		margin-bottom:10px ;
  }

/* Layout */

	
.container {
    background-color: #fff;
    display: table;
    margin: 0 auto;
    padding: 55px 52px;
    width: 100%;
    max-width: 1180px;
}
  header.container{
    margin-top: 4.5%;
    margin-bottom: 4.5%;
  }
  
  main.site-main{
  	margin-top:0;
  }
  

.content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
	
.content #left{
width: 49%;
float: left;
}
	
.content #left .text {
    font-size: 0.7em;
    font-weight: 300;
    line-height: 1.7em;
    max-width: 90%;
    padding-left: 10px;
    text-align: left;
    margin: 70px 0 20px;	
}
  .content #left .text p {
    font-size: 1.79em;
    line-height: 1.3;
    letter-spacing:0.1px;
    text-transform:none;
    font-weight:400;
    margin-bottom:40px;
  }
  
.content #right{
float: right;
width: 49%;
border-left: 1px solid #000;
padding-left: 25px;
padding-bottom: 25px;
}

.content #right h1 {
    /*font-size: 4.5em;*/
    font-size: 6.7em;
    line-height: 1.1em;
    margin: 0 auto 50px;
    max-width: 100%;
    letter-spacing: 0.1px;
}

.content #right .cirkel {
display: block;
position: relative;
height: 85px;
}

.content #right .cirkel img {
	position: absolute;
    right: -15px;
    top: -25px;
    width: 115px;
    height: 115px;
}
	
.content #left .social-soon {
	display:inline;
	padding:0;
	margin:0;
}
  
 .content #mc-embedded-subscribe-form, .newsletter {
    padding: 20px 26% !important;
}

/* Special */
.sub-title {
  margin: 50px auto;
  font-size: 18px;
  line-height: 23px;
  text-transform: uppercase;
}

.button {
  display: inline-block;
  padding: 6px 10px;
  color: #cafaea;
  border: 1px solid #000;
  border-radius: 3px;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}

	/* Mailchimp Special */
.content #right #mc_embed_signup {
    background-color: #fff!important;
}
	
.content #right  #mc_embed_signup #mc-embedded-subscribe {
    background-color: #000;
    height: 34px;
    width: 100%;
}
	
.content #right #mc_embed_signup #mce-EMAIL, .newsletter .newsletter-input[type="email"] {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: transparent url("https://cdn.shopify.com/s/files/1/2137/0833/files/mail-icon.png?14487195779497383807") no-repeat scroll 0 center / 20px 14px;
    border-color: currentcolor currentcolor #000;
    border-image: none;
    border-radius: 0;
    border-style: none none solid;
    border-width: medium medium 1px;
    display: inline-block;
    float: none;
    font-size: 1em;
    letter-spacing: 0.1px;
    margin-bottom: 25px;
    padding: 10px 0 10px 44px;
    width: 100%;
  color:#000;
}
  
  .content #right #mc_embed_signup #mce-EMAIL::-webkit-input-placeholder, .newsletter .newsletter-input[type="email"]::-webkit-input-placeholder {color:#000;}
  .content #right #mc_embed_signup #mce-EMAIL::-moz-placeholder, .newsletter .newsletter-input[type="email"]::-moz-placeholder {color:#000;}
  .content #right #mc_embed_signup #mce-EMAIL:-moz-placeholder, .newsletter .newsletter-input[type="email"]:-moz-placeholder {color:#000;}
  .content #right #mc_embed_signup #mce-EMAIL:-ms-input-placeholder, .newsletter .newsletter-input[type="email"]:-ms-input-placeholder {color:#000;}


.content #right .button {
    border: 0 solid #cafaea;
    border-radius: 0px;
    color: #fff;
    font-size: 1.1em;
    line-height: 2em;
    height: auto!important;
    font-weight: 500;
    letter-spacing: 0.8px;
    padding: 7px 10px!important;
}

.content #left .fa-ul {
    margin-left: 0;
    margin-top: 4px;
    max-width: 80%;
    padding-left: 10px;
    text-align: left;
}
	
.content #left .fa-ul li {
	display:inline;
	padding:0;
	margin-right: 7px;
}
.newsletter .contact-form {
  display: block;
}
.newsletter-submit, .newsletter-input {
  display: block;
  width: 100%;
  clear: both;
  float: none;
}
  .newsletter-submit {
	border: 1px solid #000;
    background:#000;
    border-radius: 0px;
    color: #fff;
    font-size: 1.1em;
    line-height: 2em;
    height: auto!important;
    font-weight: 500;
    letter-spacing: 0.8px;
    padding: 7px 10px!important;
  }
  .newsletter-submit:hover{
  	border:1px solid #000!important;
    background:#fff!important;
    color:#000!important;
  }
  form.storefront-password-form{
  	overflow:hidden;
  }
  form.storefront-password-form input.button:hover{
  	background:#000!important;
    color:#fff;
  }

.content #right h1.newsletter-modal-title {
	font-size: 2em;
	margin: 0.67em 0;
}
  
body {
  /* Location of the image */
  background-image: url(https://cdn.shopify.com/s/files/1/2137/0833/files/heroines_Pre_Launch_Sign-Up.jpg?1409720249775575994);
  
  /* Image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Image doesn't repeat */
  background-repeat: no-repeat;
  
  /* Makes the image fixed in the viewport so that it doesn't move when 
     the content height is greater than the image height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based on its container's size */
  background-size: cover;
  
  /* Pick a solid background color that will be displayed while the background image is loading */
  background-color:#464646;
  
  /* SHORTHAND CSS NOTATION
   * background: url(background-photo.jpg) center center cover no-repeat fixed;
   */
  
  overflow:hidden;
  height:100%;

}
  
  @media only screen and (max-width: 1200px) {
    
    .container{
    	max-width:90%;
    }
    .content #right h1{
    	font-size: 5.7em;
          line-height: 1em;
    }
    
    .content #left .text p{
      font-size: 1.6em;
      line-height: 1.2;
      margin-bottom: 30px;
    }
  	
  }
	


@media only screen and (max-width: 1024px) {

.section-password-wrapper {
    margin: 0 auto;
    padding-left: 0px;
    width: 100%;
}

body{
   overflow:visible;
  }
.content #left {
width: 100%;
float: none;
}

.content #right {
float: none;
width: 100%;
border-left: 0px solid #000;
    margin-top: 50px;
}

.container{
 max-width:80%;
    }
  
  .content #left .text{
  	max-width: 100%;
    text-align:center;
  }
  
  .content #right .cirkel{
  	position:static;
    height: 25px;
  }
  .content{
  	position:relative;
  }
  .content #right .cirkel img{
  	right: -20px;
    top: -30px;
  }
  .content #left .text{
    margin: 100px 0 0px;
    padding-left: 0px;
  }
  
  .content #right{
  	padding-left: 0;
    padding-bottom: 0;
  }
}
  
  
  @media only screen and (max-width: 768px)    {
  .content #mc-embedded-subscribe-form, .newsletter {
    padding: 20px 0% !important;
}
    
    .section-password-wrapper .storefront-password-form input{
    	width:100%!important;
      	display:block;
    }
    .section-password-wrapper .storefront-password-form input[type="submit"]{
    	margin-top:25px;
    }
    
  }
  
  @media only screen and (max-width: 668px)   {
  	 header.container{
        padding-left:30px;
        padding-right:30px;
  }
    .content #left .text p {
      font-size: 1.4em;
      line-height: 1.2;
      margin-bottom: 20px;
	}
    
    .content #right .cirkel img{
      width: 75px;
      height: 75px;
    }
    .content #left .text {
    	margin: 70px 0 0px;
    }
    .text + .section-password-wrapper{
    	margin-top:30px;
    }
    .text + .section-password-wrapper > p {
      text-align: left;
	}
    .content #right h1 {
      font-size: 3.7em;
      line-height: 0.9em;
      margin: 0 auto 20px;
	}
    .content #right{
      margin-top: 30px;
      margin-bottom: 170px;
    }
    .content #right #mc_embed_signup #mce-EMAIL, .newsletter .newsletter-input[type="email"]{
    	font-size: 0.5em;
    }
    .newsletter-submit{
    	font-size: 0.9em;
          font-weight: 300;
    }
    .text + .section-password-wrapper{
    	position:absolute;
      	bottom:0;
    }
   
    
}
  
@media only screen and (max-width: 568px)   {
  .content #right h1 {
    font-size: 4.2em;
	}
  .content #mc-embedded-subscribe-form {
    padding: 20px 6% !important;
}
  .content #mc-embedded-subscribe-form, .newsletter {
    	padding: 20px 0% !important;
	}
 
}
  
  
  @media only screen and (max-width: 479px)   {
  .content #right h1 {
    	font-size: 3em;
	}
    
    .container{
    	max-width:90%;
    }
    .text + .section-password-wrapper > p {
  	  margin-bottom: 0;
}
	    
  }

/* Media Queries */
@media only screen and (max-width: 340px) {
  
  .container {
    position: relative;
    display: block;
    float: left;
    vertical-align: baseline;
    margin: 0 auto;
    padding: 80px 15px 0 15px;
  }
  header.container {
    margin-top: 0;
    margin-bottom: 0;
    margin-top:-55px;
}
  main.site-main {
    margin-top: 0px;
}
  
  .container{
    max-width: 101%;
    width: 101%;
}
    }
  .content #right .cirkel img {
    right: 0px;
    top: -15px;
}

  
  body h1 {
    font-size: 18px;
    line-height: 23px;
  } 
  
  html, body, .container {
    height: auto;
  }
}	
</style>

   <script>
	$(document).ready(function()
{
  $('#load-more-content').click(function()
  {
    
    $('#more-content').toggleClass('shown');

    $('#load-more-content').hide();

    if( $('#more-content').hasClass('shown') )
    {
      $('#load-more-content').text('Hide content');
      $('#more-content').fadeIn('slow', function()
      {
        $('#load-more-content').fadeIn('slow');
      });
    }
    else
    {
      $('#load-more-content').text('Load some content');
      $('#more-content').fadeOut('slow', function()
      {
        $('#load-more-content').fadeIn('slow');
      });
    }
  });
});
	</script>
</head>
<body>
<header class="container">
  <section class="content">


<div id="left">
<div class="social-soon">
<ul class="fa-ul">
  <li><a href="https://www.instagram.com/heroinesdk/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
  <li><a href="https://www.facebook.com/Heroinesdk/?fref=ts"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
</ul>

	</div>
<div class="text">
  <p>Heroines. En butik med fokus på et selektivt mix af cool smykker og accessories fra både danske og internationale brands.</p>

  <p>Den 21. september slår vi dørene op til vores første butik i København K. Vi har lagt kærlighed i hver enkelt detalje, så du kan blive inspireret på ny hver gang du shopper hos os.</p>

  <p>Den 29. september holder vi et brag af en åbningsfest. Indtast din e-mail, så sender vi invitationen til dig. Du får også mulighed for at shoppe online hos os 24 timer før vi åbner.</p>

  <!--
  <p>Heroines. En konceptbutik med fokus på et kurateret udvalg af cool smykker og accessories.</p>

  <p>Vi slår snart dørene op til vores første butik i København K, og du er hermed inviteret.</p>
 
  <p>Indtast din e-mail, så sender vi dig invitationen til vores åbningsfest d. 21.09.17. Du får også mulighed for at shoppe online hos os 24 timer før official launch!</p>
  -->
	</div>

      <div class="section-password-wrapper">
     <p>  // Staff Login (Tilmelding til nyhedsbrev? Indtast din email til højre på siden) </p>

  {% form 'storefront_password' %}
    {{ form.errors | default_errors }}
    <input
      type="password"
      name="password"
      placeholder="{{ 'general.form.password_placeholder' | t }}">
    <input
      type="submit"
      class="button"
      value="LOG IND">
  {% endform %}
</div>


</div>



<div id="right">

<div class="cirkel">
  <img src="https://cdn.shopify.com/s/files/1/2137/0833/files/cirkel-heroines-pwd.png?18162805380378443229" width="70" height="70" alt="logo"/> </div>
<h1> Get up <br/> Sign up! </h1>

<div class="newsletter">
  {% form 'customer' %}
    {% if form.posted_successfully? %}
      <p class="newsletter-success">{{ 'newsletter.success' | t }}</p>

      <div class="newsletter-modal">
        <a class="newsletter-modal-close" href="/">{% include 'icon', id: 'close' %}</a>
        <h1 class="newsletter-modal-title">TAK!</h1>
        <p class="newsletter-modal-success">Du er nu tilmeldt Heroines' newsletter.</p>
      </div>

      <a class="newsletter-modal-overlay" href="/"></a>
    {% else %}
      <input
        class="newsletter-input"
        name="contact[email]"
        type="email"
        placeholder="{{ 'newsletter.placeholder' | t }}"
        value="">

      <input
        type="hidden"
        id="contact_tags"
        name="contact[tags]"
        value="prospect,newsletter">

      <button
        class="newsletter-submit"
        name="subscribe"
        type="submit">{{ 'newsletter.subscribe' | t }}</button>
    {% endif %}
  {% endform %}
  {% comment %}<div class="newsletter-text">{{ 'newsletter.newsletter_text' | t }}</div>{% endcomment %}
</div>



  {% comment %}
<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
<form action="//myshopify.us16.list-manage.com/subscribe/post?u=5293ec59bbf6e15b6ca1f930a&amp;id=c9f868545d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
<div class="mc-field-group">
	<input type="email" value="" placeholder="Email Adress" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_5293ec59bbf6e15b6ca1f930a_c9f868545d" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>
<!--End mc_embed_signup-->
{% endcomment %}
</div>
  
  </section>
  </header>
 </body>
</html>